@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_regular_pro.otf') format('opentype');
  }
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_regular_italic_pro.otf') format('opentype');
    font-style: italic;
}
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_bold_italic_pro.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_bold_pro.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_light_pro_50.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_medium_italic_pro.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu_medium_pro.otf') format('opentype');
    font-weight: 500;
}

:root {
    --accent: #008290;
    --base-soft: #BFBFBF;
    --header-color: #231F20;
    --text-color: #4D4D4F;
    --success-color: #277C32;
    --selected-green: #8BC751;
    --table-color: #142B6F;
    --disabled-color: #D8D8D8;
    --disabled-text-color: #707070;
    --background-shade: #F2F2F2;
    --yellow-200: #FFF3D6;
    --yellow-400: #FFE197;
    --yellow-500: #FED165;
    --yellow-900: #8D6601;
}


/* Small devices (sm): 640px and up - @media (min-width: 640px) {}
  
Medium devices (md): 768px and up - @media (min-width: 768px) {}
  
Large devices (lg): 1024px and up - @media (min-width: 1024px) {}
  
Extra large devices (xl): 1280px and up - @media (min-width: 1280px) {} */